<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Calendar</title>
    <link rel="stylesheet" href="./main.less" />
  </head>

  <body>
    <div class="page cover">
      <h1>StudioLab Calendar <%= year %></h1>
      <p>Generated on <%= new Date() %></p>
      <p>
        For best printing results, use Acrobat Reader. Other readers create
        minor visual artifacts.
      </p>
    </div>

    <% for (const day of days) { %>
      <div class="page">
        <table class="hourlist" cellspacing="0" cellpadding="0">
          <colgroup>
            <col class="hour-col" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col class="hour-col" />
          </colgroup>

          <thead>
            <tr>
              <td></td>
              <td>Say</td>
              <td>Talk</td>
              <td>Join</td>
              <td>Tell</td>
              <td>Show</td>
              <td>Hatch</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% for (const hour of day.hours) { %>
              <tr class="<%= hour.active ? 'active' : '' %>">
                <%- include('hourcell', {hour: hour}); %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <%- include('hourcell', {hour: hour}); %>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="daybox">
          <p class="date-info">
            <span>
              <%= day.date.toLocaleString({ day: 'numeric' }) %>
            </span>
          </p>
          <div class="extra-info">
            <p class="month-info">
              <span>&nbsp;</span>
              <span>
                <%= day.date.toLocaleString({ month: 'long' }) %>
              </span>
            </p>
            <p class="week-info">
              <span>
                <%= day.date.toLocaleString({ weekday: 'long' }) %>
              </span>
              <span>,&nbsp;</span>
              <span>week <%= day.date.weekNumber %></span>
            </p>
          </div>
          <div class="year-info">
            <%= day.date.year %>
          </div>
        </div>
      </div>
    <% } %>
  </body>
</html>
